

{% load static %}

<!DOCTYPE html>
<html>
<head>
    <!-- !NOTE: style and js scripts is not including NEED to fix-->
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/custom.css' %}">>
    <!-- <script type="text/javascript" src="{% static 'main/js/custom.js' %}"></script> -->
    <title>Home</title>
    



</head>
<body>

    {% block content %}
       
        <div class="table">
            <table>
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Created At</th>
                        <th>Done</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in tasks %}
                    <tr>
                        <td>
                            <strong>
                            Username: {{task.user.username}}
                            <br>
                            User Id: {{task.user.id}}
                        </strong>
                </td>
                <td>{{task.title}}</td>
                <td>{{task.description}}</td>
                <td>Created At: {{task.created_at}}</td>
                <td>
                    {%if task.completed %}
                        <div class="done-box">Done</div>
                    {% else %}
                        <div class="not-done-box">Not Done</div>
                    {% endif %}
                </td>
            </tr>
            </tbody>
        </table>
        </div>
        {% endfor %}
    {% endblock %}


        


        









    <script type="text/javascript" src="{% static 'main/js/custom.js' %}"></script>

    

</body>
</html>
